*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #f8f8f8;
}
header{
    height: 60px;
    width: 100%;
    background: #222121;
    color: #fff;
    display: flex;
    align-items: center;
}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    display: none;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight: 550;

}
.logo{
   font-size: 24px;
}
.hero{
    width: 100%;
    height: auto;
    background: url(hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 140px 0;
    margin-bottom: 20px;
}
.hero p{
    font-size: 20px;
    margin-bottom: 10px;
}
.hero-search-box{
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero-search-box input{
    width: 70%;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border: 1px solid rgb(245,37,9);
}
.hero-search-box button{
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    background: rgb(245,37,9);
    color: #fff;
    cursor: pointer;
}
.btn-register,
.btn-login,
.btn-logout {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-register,
.btn-login,
.btn-logout {
  width: 5rem;
}

.btn-register:hover,
.btn-login:hover,
.btn-logout:hover {
  background-color: #0056b3;
}
/* ..................recipe section............... */
.recipes{
    padding: 50px 0;
}
.recipes h1{
     text-align: center;
     margin-bottom: 30px;
     font-size: 28px;
}
.recipe-section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    column-gap: 10px;
}
.recipe-card{
    background: #fff;
    margin: 30px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.recipe-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.recipe-card h2{
    font-size: 20px;
    padding: 20px;
 }
 .recipe-card p{
   font-size: 18px;
   padding: 20px;
  }
  .recipe-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background: #333;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
  }
  footer{
    background: #333;
    padding: 20px 0;
    color: #fff;
    text-align: center;
  }
  .menu-icon{
    font-size: 24px;
    padding: 20px;
    text-align: right;
    cursor: pointer;
    display: block;
  }
  /* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    max-width: 300px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .close-btn {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
  }
  
  .close-btn:hover {
    color: #ccc;
  }
  
  .form input {
    width: 80%;
    padding:0.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  .modal-content h2{
    margin:1rem;
    font-size: 1.5rem;
   
  }
  .form input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .form button {
    width: 80%;
  
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(135deg, #d56efb, #e377bb);
    padding:0.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 2rem;
    border: none;
    border-radius: 20px;
  }
  
  .form button:hover {
    background: linear-gradient(135deg, #5ae47a, #d1c666);
  }
  
  .hidden {
    display: none;
  }
  
  /* ..............media query............ */

  @media only screen and (min-width: 768px){
    .menu-icon{
        display: none;
    }

    .nav-list{
        display: block;
    }
  }
  @media only screen and (max-width: 768px){
   .hero h2{
      font-size: 28px;
   }
   .hero p{
    font-size: 15px;
   }
  }
